.analytics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

#barchart-icon {
  width: 75px;
  height: 75px;
}

#zero-state-container {
  width: 100%;
  align-items: center;
}
