@use './theme' as *;

.app-container {
  display: flex;
  min-height: 100vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding: 2rem;
  background-color: $main_100;
  width: 100%;
}

.spinner {
  color: $blue_100;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-label-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.react-tabs {
  width: 100%;
  // border: 1px solid green;
  height: 100% !important;
}

.react-tabs__tab-list {
  border-bottom: none !important;
  display: flex;
  justify-content: center;
}

.react-tabs__tab {
  background-color: transparent;
  &:focus {
    &::after {
      background-color: transparent !important;
    }
  }
}

.tab-selected {
  border-bottom: 2px solid $blue_100 !important;
}

.react-tabs__tab-panel {
  padding-top: 4rem;
  // border: 1px solid firebrick;
}
