@use './theme' as *;

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  min-height: 100vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding: 2rem;
  background-color: $main_100;
  width: 100%;
}

.spinner {
  color: $blue_100;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-label-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}