@use './theme' as *;

.app-container {
  display: flex;
  min-height: 100vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem;
  background-color: $main_100;
}

.spinner {
  color: $blue_100;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}