@use "./theme" as *;

#results-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#results-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, $paper_card_size);
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
}

#results-filter-input {
  width: 300px;
  background-color: transparent;
  border: 1px solid $grey_100;
  border-radius: 6px;
  padding: 0.6rem 0.5rem 0.6rem 0.5rem;
}

#filters-container {
  width: 300px;
  gap: 1rem;
  align-items: center;
}

#search-btn {
  background-color: $blue_100;
  color: #fff;
  width: 200px;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  &:hover {
    background-color: $blue_200;
    cursor: pointer;
  }
}

#search-section {
  justify-content: center;
  align-items: center;
}
